/* Reset básico do Eric Meyer http://meyerweb.com/eric/tools/css/reset/
-----------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fontes.
-----------------------------------------------------------------------------*/

/*@font-face {
    font-family: 'latobold';
    src: url('fonts/lato-bold-webfont.eot');
    src: url('fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bold-webfont.woff') format('woff'),
         url('fonts/lato-bold-webfont.ttf') format('truetype'),
         url('fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'lato_blackitalic';
    src: url('fonts/lato-blackitalic-webfont.eot');
    src: url('fonts/lato-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-blackitalic-webfont.woff') format('woff'),
         url('fonts/lato-blackitalic-webfont.ttf') format('truetype'),
         url('fonts/lato-blackitalic-webfont.svg#lato_blackitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
  font-family: 'lato_blackregular';
  src: url('fonts/lato-black-webfont.eot');
  src: url('fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato-black-webfont.woff') format('woff'),
    url('fonts/lato-black-webfont.ttf') format('truetype'),
    url('fonts/lato-black-webfont.svg#lato_blackregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
    font-family: 'latobold_italic';
    src: url('fonts/lato-bolditalic-webfont.eot');
    src: url('fonts/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bolditalic-webfont.woff') format('woff'),
         url('fonts/lato-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'lato_hairlineregular';
    src: url('fonts/lato-hairline-webfont.eot');
    src: url('fonts/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-hairline-webfont.woff') format('woff'),
         url('fonts/lato-hairline-webfont.ttf') format('truetype'),
         url('fonts/lato-hairline-webfont.svg#lato_hairlineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'lato_hairlineitalic';
    src: url('fonts/lato-hairlineitalic-webfont.eot');
    src: url('fonts/lato-hairlineitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-hairlineitalic-webfont.woff') format('woff'),
         url('fonts/lato-hairlineitalic-webfont.ttf') format('truetype'),
         url('fonts/lato-hairlineitalic-webfont.svg#lato_hairlineitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'latoitalic';
    src: url('fonts/lato-italic-webfont.eot');
    src: url('fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-italic-webfont.woff') format('woff'),
         url('fonts/lato-italic-webfont.ttf') format('truetype'),
         url('fonts/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
  font-family: 'lato_lightregular';
  src: url('fonts/lato-light-webfont.eot');
  src: url('fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato-light-webfont.woff') format('woff'),
    url('fonts/lato-light-webfont.ttf') format('truetype'),
    url('fonts/lato-light-webfont.svg#lato_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
    font-family: 'lato_lightitalic';
    src: url('fonts/lato-lightitalic-webfont.eot');
    src: url('fonts/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-lightitalic-webfont.woff') format('woff'),
         url('fonts/lato-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/lato-lightitalic-webfont.svg#lato_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}*/t

@font-face {
  font-family: 'latoregular';
  src: url('fonts/lato-regular-webfont.eot');
  src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato-regular-webfont.woff') format('woff'),
    url('fonts/lato-regular-webfont.ttf') format('truetype'),
    url('fonts/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'League Gothic';
  src: url("fonts/league_gothic-webfont.eot");
  src: url("fonts/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/league_gothic-webfont.woff") format("woff"), url("fonts/league_gothic-webfont.ttf") format("truetype"), url("fonts/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Estilos base.
-----------------------------------------------------------------------------*/
body {
  font-family: 'latoregular', 'PT Sans', sans-serif;
  min-height: 740px;

  background: #1c1e20;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #555a5f), color-stop(100%, #1c1e20));
  background:   -webkit-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background:      -moz-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background:        -o-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background:       -ms-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background:           radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background-color: #2b2b2b;
}

b, strong { font-weight: bold }
i, em { font-style: italic }

a,
h1,
h2,
h3 {
  color: #EEEEEE;
  font-family: "League Gothic", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

h1{
  margin-bottom: 20px;
  display: block;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.footnote,
footer {
  color: #DEDEDE;
}

.slide {
  color: #ccc;
}

.slide p{
  margin-bottom: 20px;
}

table,
b,
strong {
  color: #dedede;;
}

h2 {
  color: #aaa;
}

a {
  text-decoration: none;
  padding: 0 0.1em;
  /*background: rgba(255,255,255,0.5);*/
  border-radius: 0.2em;

  -webkit-transition: 0.5s;
  -moz-transition:    0.5s;
  -ms-transition:     0.5s;
  -o-transition:      0.5s;
  transition:         0.5s;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1,
h2 {
  text-align: center;
  margin: 0.5em 0 0 0;
}

h2, h3 {
  margin-bottom: 0.5em;
}

h3 {
  font-family: 'lato_blackregular';
  margin-top: 0.5em;
  text-align: center;
}

h2.left,
h3.left {
  text-align: left;
}

h1 {
  font-size: 60px;

  -webkit-transform: translateZ(50px);
  -moz-transform:    translateZ(50px);
  -ms-transform:     translateZ(50px);
  -o-transform:      translateZ(50px);
  transform:         translateZ(50px);
}

h2 {
  font-size: 40px;

  -webkit-transform: translateZ(20px);
  -moz-transform:    translateZ(20px);
  -ms-transform:     translateZ(20px);
  -o-transform:      translateZ(20px);
  transform:         translateZ(20px);
}

h1.big{
  font-size: 70px;
  line-height: 1em;
}

ul {
  font-size: 1.4em;
  line-height: 1.4em;
}

ul.med {
  font-size: 1.2em;
  line-height: 1em;
}

ul.small {
  font-size: 0.8em;
}

ul.smallish {
  font-size: 0.9em;
  line-height: 1em;
}

ul.huge {
  font-size: 2em;
}

img.center {
  margin: 0 auto;
  display: block;
  text-align: center;
}

ul li {
  list-style-image: url('../images/shuriken-small.png');
  margin: 0.8em 0 0 0;
}

ul.small li {
  margin: 0.6em 0 0 0;
}

ul.huge li {
  margin: 1.2em 0 0 0;
}

footer {
  display: none;
  height: 20px;
  font-size: 18px;
  position: absolute;
  left: 10px;
  bottom: 12px;
  width: 100%;
}

blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 5px auto;
  padding: 5px;

  font-style: italic;
  /*background: rgba(255, 255, 255, 0.05);*/
  /*box-shadow: 0px 0px 2px rgba(0,0,0,0.2);*/
}
blockquote:before {
  content: '\201C';
}
blockquote:after {
  content: '\201D';
}

span.brand-txt {
  position: relative;
  top: -5px;
  left: 10px;
}

img.brand-img {
  height: 20px;
  width: 20px;
}

footer .branding {
  float: left;
  width: 200px;
}

footer .footer-date {
  float: right;
  text-align: right;
  margin-right: 30px;
}

table {
  margin-top: 20px;
}

table, td, th {
  border: 1px solid #333;
  text-align: center;
}

.breather {
  margin-top: 60px;
}

.mini-breather {
  margin-top: 40px;
}

span.footnote {
  height: 14px;
  font-size: 16px;
  position: absolute;
  left: 40px;
  bottom: 60px;
  width: 100%;
}

th {
  font-weight: bold;
}

th, td {
  padding: 5px;
}

td {
  /*font-family: 'lato_lightregular';*/
  font-size: 22px;
}

.step footer {
  display: block;
}

.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;

  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;

  box-sizing:         border-box;
  font-family: 'latoregular', 'PT Serif', georgia, serif;
  font-size: 48px;
  line-height: 1.5;
}

.impress-enabled .step {
  margin: 0;
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.slide {
  display: block;

  width: 900px;
  height: 700px;
  padding: 40px 60px;

/*  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);*/

  font-family: 'latoregular', 'Open Sans', Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
}

.slide.code {
  line-height: 1.2em;
  padding: 0;
  background: transparent;
  letter-spacing: 0;
  text-shadow: 0 0 0 transparent;
  overflow-y: scroll;
}

.slide.code code.rainbow {
  line-height: 1.2em;
  padding: 0;
  position: relative;
  /*left: -70px;*/
  top: -10px;
}

.slide q {
  display: block;
  font-size: 50px;
  line-height: 72px;

  margin-top: 100px;
}

.slide q strong {
  white-space: nowrap;
}

.content {
  padding: 0.5em 0.5em 0;
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }

/* Mensagem de erro do impress.js caso não rode.
-----------------------------------------------------------------------------*/
.fallback-message {
  font-family: 'latoregular', sans-serif;
  line-height: 1.3;

  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;

  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
}

.fallback-message p {
  margin-bottom: 10px;
}

.impress-supported .fallback-message {
  display: none;
}

/* Navigation tips.
-----------------------------------------------------------------------------*/
.hint {
  display: none;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 200px;

  background: rgba(0,0,0,0.5);
  color: #EEE;
  text-align: center;

  font-size: 50px;
  padding: 20px;

  z-index: 100;

  opacity: 0;

  -webkit-transform: translateY(400px);
  -moz-transform:    translateY(400px);
  -ms-transform:     translateY(400px);
  -o-transform:      translateY(400px);
  transform:         translateY(400px);

  -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
  -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
  -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
  -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
  transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-enabled .hint { display: block }

.impress-on-bored .hint {
  opacity: 1;

  -webkit-transform: translateY(0px);
  -moz-transform:    translateY(0px);
  -ms-transform:     translateY(0px);
  -o-transform:      translateY(0px);
  transform:         translateY(0px);

  -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
  -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
  -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
  -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
  transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

/* Slides.
-----------------------------------------------------------------------------*/
#start{
  background: url(../bgs/dcampbg.jpg) no-repeat;
}

#titulo{
  background: url(../bgs/titulo.jpg) no-repeat;
}

#what-2{
  background: url(../bgs/what.jpg) no-repeat;
}

#cross{
  background: url(../bgs/cross2.jpg) no-repeat;
}

#help{
  background: url(../bgs/help2.jpg) no-repeat center -30px;
}

#bashrc code {
  font-size: 20px;
}

#extra{
  background: url(../bgs/extra.jpg) no-repeat center -20px;
}

#hands-on{
  background: url(../bgs/handson.jpg) no-repeat center -20px;
}

#hands-on-2{
  background: url(../bgs/handson_2.jpg) no-repeat center -20px;
}

#tks {
  background: #FFF url(../bgs/tks2.jpg) no-repeat center bottom;

}

img.drupal-brasil-logo {
  height: 380px;
  display: block;
  float: left;
  margin-left: 80px;
}

img.dcamp-logo {
  float: right;
  margin-top: 80px;
  margin-right: 50px;
}

div.logo-container {
  float: none;
  clear: both;
  height: 380px;
  margin: 40px 0 80px 0;
}

#about div.content {
  float: left;
  width: 52%;
}

#pic {
  float: right;
  margin-right: 30px;
  width: 30%;
  margin-top: 30px;
}

.center{
  text-align: center;
}

.middle{
  margin-top: 160px;
}

.fleft{
  float: left;
}

div.social-icons {
  margin: 60px auto 0;
  text-align: center;
}

img.social-icon {
  margin: 0 80px;
}

.mid{
  font-size: 20px;
  line-height: 1em;
}

.big{
  font-size: 30px;
  line-height: 1em;
}

.huge{
  font-size: 50px;
  line-height: 1em;
}

.extra{
  font-size: 80px;
}
